<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form action="modify" method="post">
            <input type="hidden" name="id" th:value="${user['id']}">
            <div>
                <input type="text" name="userName" th:value="${user['userName']}">
            </div>
            <div>
                <input type="text" name="gender" th:value="${user['gender']}">
            </div>
            <div>
                <input type="text" name="birthday" th:value="${user['birthday']}">
            </div>
            <div>
                <input type="text" name="phone" th:value="${user['phone']}">
            </div>
            <div>
                <input type="text" name="address" th:value="${user['address']}">
            </div>
            <div>
                <select name="role.id">
                    <option th:each="role:${session.getServletContext()}" th:value="" }>
                    </option>
                </select>
            </div>
            <input type="submit" value="修改">
        </form>
    </div>
</body>
</html>